<div id="oauth_providers">
	<a href="/users/auth/google_oauth2"><img src="/sign-in-with-google.png" id="logo_signin"/></a>
	<a href="/users/auth/linkedin"><img src="/sign-in-with-linkedin.png" id="logo_signin"/></a>
</div>
