<div id="oauth_providers">
	<a href="/users/auth/google_oauth2" id="google_oauth"><img src="/sign-in-with-google.png" class="logo_signin"/></a>
	<a href="/users/auth/linkedin" id="linkedin_oauth"><img src="/sign-in-with-linkedin.png" class="logo_signin"/></a>
</div>
