<div id="oauth_providers">
	&nbsp;<a href="#" id="google_oauth" {{action "google" target="view"}}><img src="/signin_with_google.png" class="logo_signin"/></a>&nbsp;&nbsp;
	<a href="#" id="linkedin_oauth" {{action "linkedIn" target="view"}}><img src="/signin_with_linkedin.png" class="logo_signin"/></a>&nbsp;&nbsp;
	<a href="#" id="facebook_oauth"><img src="/signin_with_facebook.png" class="logo_signin"/></a>&nbsp;&nbsp;
	<a href="#" id="twitter_oauth"><img src="/signin_with_twitter.png" class="logo_signin"/></a>
</div>
