<div class="session_form">
	{{#if loginState.error}}
	  <p>Unauthorized!</p>
	{{/if}}
	<form>
		<fieldset>
			<legend>Log In</legend>
	    <label>Email</label>
	    {{view Ember.TextField type="email" valueBinding="email"}}
	    <label>Password</label>
	    {{view Ember.TextField type="password" valueBinding="password"}}
			<br>
	    <button {{action "signIn"}} class="btn">Log In</button>
		</fieldset>
	</form>
</div>