body {
}

.session_form {
  position:relative;
  top:70px;
  left:70px;
  width:400px;
}

#userlist {
  position:relative;
  left:50px;
  top:20px;
  width:500px;
}

#oauth_providers {
  position:relative;
  top: 40px;
  left: 70px;
}

#logo_signin {
  width:200px;
}