<div class="session_form">
	<legend>User</legend>
	<p>Name</p>
	<p class="lead">{{name}}</p>
	<p>Email</p>
	<p>{{email}}</p>
	<br><br>
	<button type="button" class="btn" name="edit_user" {{action "edit"}}>Edit</button>
</div>